.header {
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 8px;
}

.jsonObj {
  margin: 16px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.jsonObjSelected {
  color: red;
}
