.container {
  display: flex;
  align-items: center;
  margin: 4px 0;
  float: left;
}

.toggleButton {
  font-size: 12px;
  border: 1px solid #000000;
  padding: 2px;
  cursor: pointer;
  font-weight: normal;
  width: 10px;
  height: 10px;
  display: inline-block;
  text-align: center;
  line-height: 10px;
  border-radius: 2px;
  margin-right: 6px;
  color: black;
}