.fileUploadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: center;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px dashed black;
  font-size: 12px;
}

.fileUploadIcon {
  width: 30px;
  margin-right: 8px;
}

.fileUploadInput {
  display: none;
}
