.jsonContainer {
  text-align: left;
  margin-top: 60px;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
}

.formContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  padding: 20px;
  margin-top: 20px;
}

.loader {
  margin: 120px;
  font-size: 20px;
  color: #9d9d9d;
  line-height: 200px;
}
