.jsonContainer {
  text-align: left;
  margin-top: 60px;
  width: 100%;
  max-width: 500px;
  min-height: 300px;
}

.formContainer {
  position: relative;
  width: 100%;
}

.inputField {
  padding: 16px;
  width: 360px;
  border-radius: 4px;
  border: 1px solid #cecece;
}

.queryField {
  margin-top: 40px;
}